.accordion__answer-item::marker {
  color: rgba(0, 0, 0, 0.7);
}
.accordion__answer-item {
  list-style-type: disc;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.accordion__answer-list {
  padding: 0 20px;
}
.accordion__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion__index {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
}
.accordion__header {
  /* margin-bottom: 40px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.accordion__button {
  width: 40px;
  height: 40px;
  background-color: var(--lightBgColor);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-content {
  /* margin-top: -100%; */

  -webkit-transition: height 500ms ease;

  -o-transition: height 500ms ease;

  transition: height 500ms ease;
  overflow: hidden;
}

.accordion__button:hover {
  background-color: var(--accentYellowColor);
}

.accordion__item.active .accordion__button {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media (min-width: 1440px) {
  .accordion__answer-item {
    font-size: 20px;
    line-height: 32px;
  }
  .accordion__header-left {
    gap: 15px;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .accordion__button {
    padding: 13px;
  }
}
@media (min-width: 1920px) {
  .accordion__button {
    padding: 10px;
  }
}
