.author {
}
.author__block {
  display: flex;
  padding: 20px 0 0;
  height: inherit;
  color: #000000;
  gap: 150px;
}
.author__container {
  height: inherit;
}

.author__top-title {
  margin-bottom: 38px;
}

.author__top-button {
  margin-top: 30px;
}

.author__top-button::after {
  display: inline-flex;
  content: "";
  background-image: url("../images/author/arrow-icon.svg");
  background-size: 126px 126px;
  height: 126px;
  width: 126px;
  position: relative;
  top: 46px;
}

.author__photo {
  flex-basis: 50%;
}
.author__top {
  flex-basis: 45%;
}

.author__photo {
  max-width: 626px;
  overflow: hidden;
  border-radius: 32px;
  z-index: 1;
  position: relative;
}
.author__photo-block {
  position: relative;
}
.author__photo-block::after {
  content: "";
  background: url("../images/author/leaves-right.png") no-repeat;
  right: -160px;
  bottom: -30px;
  position: absolute;
  display: inline-block;
  width: 241px;
  height: 357px;
}
.author__photo-block::before {
  content: "";
  background: url("../images/author/leaves-left.png") no-repeat;
  left: -135px;
  top: 65px;
  position: absolute;
  display: inline-block;
  width: 182px;
  height: 380px;
}
.author__subtitle {
  margin-bottom: 25px;
}

.author__top-desc {
  padding-top: 135px;
}

.author__top-text {
  line-height: 28px !important;
}
