.author__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
  /* height: inherit; */
  color: #000000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.author__container {
  height: inherit;
}

.author__top-title {
  margin-bottom: 20px;
}

.author__top-button {
  margin-top: 30px;
}

.author__top-button::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  background-image: url("../images/author/arrow-icon.svg");
  background-size: 126px 126px;
  height: 126px;
  width: 126px;
  position: relative;
  top: 46px;
}

.author__photo {
  margin-top: 30px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.author-desktop-pic {
  display: none;
}

.author__top {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.author__photo {
  max-width: 361px;
  width: 361px;
  overflow: hidden;
  border-radius: 32px;
  z-index: 1;
  position: relative;
}

.author__photo-block {
  position: relative;
}

.author__subtitle {
  margin-bottom: 20px;
}

.author__top-text {
  line-height: 26px !important;
  width: 97%;
}
@media (min-width: 640px) {
  .author__photo-block {
    align-self: flex-start;
  }
}
@media (min-width: 1440px) {
  .author__photo-block::after {
    content: "";
    background: url("../images/author/leaves-right.svg") no-repeat;
    right: -160px;
    bottom: -40px;
    position: absolute;
    display: inline-block;
    width: 241px;
    height: 357px;
  }

  .author-desktop-pic {
    display: block;
  }

  .author-mobile-pic {
    display: none;
  }

  .author__top-text {
    line-height: 28px !important;
    width: 100%;
  }

  .author__subtitle {
    margin-bottom: 30px;
  }

  .author__top-title {
    margin-bottom: 45px;
  }

  .author__photo {
    margin-top: 0;
    max-width: 615px;
    width: 615px;
    overflow: hidden;
    border-radius: 32px;
    z-index: 1;
    position: relative;
  }

  .author__photo-block::before {
    content: "";
    background: url("../images/author/leaves-left.svg") no-repeat;
    position: absolute;
    display: inline-block;
    width: 182px;
    height: 380px;
    left: -79px;
    top: 100px;
    background-size: 74%;
  }

  .author__photo-block::after {
    right: -178px;
    bottom: -33px;
    background-size: 66%;
  }

  .author__top-desc {
    padding-top: 157px;
  }

  .author__block {
    gap: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .author__top {
    -ms-flex-preferred-size: 399px;
    flex-basis: 399px;
  }
}

@media (min-width: 1920px),
  (min-width: 1440px) and (min-resolution: 2dppx),
  (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .author__photo-block::after {
    right: -160px;
    bottom: -40px;
    background-size: 80%;
  }

  .author__photo-block::before {
    content: "";
    background: url("../images/author/leaves-left.svg") no-repeat;
    left: -135px;
    top: 65px;
    position: absolute;
    display: inline-block;
    width: 182px;
    height: 380px;
  }
  .author__top-desc {
    padding-top: 135px;
  }

  .author__block {
    gap: 150px;
  }
  .author__top {
    -ms-flex-preferred-size: 590px;
    flex-basis: 590px;
  }
}
