.cases {
  padding: 100px 0;
}
.cases__title {
  width: 50%;
}
.cases .cases__item-photo {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 18px;
}

.cases .cases__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cases .cases__item-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases .cases__item-middle,
.cases .cases__item-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 27px 18px 22px;
}

.cases .cases__item-left,
.cases .cases__item-middle,
.cases .cases__item-right {
  min-height: 244px;
}

.cases .cases__item-left,
.cases .cases__item-middle,
.cases .cases__item-right {
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}

.cases .cases__list {
  background-color: var(--lightBgColor);
  padding: 24px;
  border-radius: 32px;
}

.cases .cases__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow: hidden;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cases .cases__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases .cases__item-header span {
  white-space: nowrap;
}

.cases .cases__item-right .cases__item-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.cases .cases__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
}

.cases .cases__item-name {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
}

.cases .cases__item-desc {
  width: 90%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.cases .cases__item-description {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 26px;
  margin-top: 11px;
}

.cases .cases__header-buttons {
  padding-bottom: 10px;
}

@media (min-width: 1440px) {
  .cases .cases__item-description {
    line-height: 28px;
    margin-top: 0;
  }

  .cases .cases__item-header {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .cases .cases__item-desc {
    width: 71%;
  }

  .cases .cases__item-name {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .cases .cases__item-left,
  .cases .cases__item-middle,
  .cases .cases__item-right {
    min-height: 519px;
  }

  .cases .cases__item-photo {
    width: 176px;
    height: 176px;
    margin-bottom: 22px;
  }

  .cases .cases__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
  }

  .cases .cases__header-buttons {
    padding-bottom: 0;
  }

  .cases .cases__header {
    margin-bottom: 68px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cases .cases__item-left {
    width: 35%;
  }

  .cases .cases__item-middle,
  .cases .cases__item-right {
    width: 41%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .cases .cases__header {
    margin-bottom: 90px;
  }

  .cases .cases__item-left {
    width: 25%;
  }

  .cases .cases__item-middle,
  .cases .cases__item-right {
    width: 37%;
  }
  .cases .cases__item-left,
  .cases .cases__item-middle,
  .cases .cases__item-right {
    padding: 20px;
  }
}
