.cases {
  padding: 100px 0;
  .cases__item-photo {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    overflow: hidden;
  }

  .cases__item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .cases__item-left {
    width: 20%;
  }
  .cases__item-middle,
  .cases__item-right {
    width: 40%;
  }

  .cases__item-left,
  .cases__item-middle,
  .cases__item-right {
    background-color: #fff;
    padding: 24px;
    border-radius: 24px;
  }

  .cases__list {
    background-color: var(--lightBgColor);
    padding: 24px;
  }

  .cases__item-header {
    display: flex;
    gap: 20px;
  }

  .cases__item-header {
    display: flex;

    span {
      white-space: nowrap;
    }
  }

  .cases__item-right {
    .cases__item-header {
      flex-direction: row-reverse;
    }
  }

  .cases__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .cases__header-btn-left {
    background: url(../images/cases/slider-arrow-icon.svg) center center
        no-repeat,
      var(--darkBgColor);
    outline: none;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    stroke: #fff;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  .cases__header-btn-right {
    background: url(../images/cases/slider-arrow-icon.svg) center center
        no-repeat,
      var(--darkBgColor);
    transform: rotate(180deg);
    outline: none;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    stroke: #fff;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  .cases__header-btn-left:hover,
  .cases__header-btn-right:hover {
    background: url(../images/cases/slider-arrow-icon-dark.svg) center center
        no-repeat,
      var(--accentYellowColor);
    transition: 0.4s;
  }
}
