.diagnostics .diagnostics__right {
  max-width: 699px;
  border-radius: 16px;
  overflow: hidden;
}

.diagnostics .diagnostics__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 15px 37px;
  background-color: #383835;
  border-radius: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 0 auto;
}

.diagnostics .diagnostics__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  /* margin-bottom: 40px; */
  line-height: 26px;
}

.diagnostics .diagnostics__title {
  margin-bottom: 16px;
  line-height: 40px;
}

.diagnostics .diagnostics__title.desktop {
  display: none;
}

.diagnostics .diagnostics__title.mobile {
  margin-top: 23px;
}

.diagnostics .diagnostics__button {
  margin-top: 37px;
}

.diagnostics .diagnostics__left {
  text-align: center;
}
@media (min-width: 800px) {
  .diagnostics .diagnostics__block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 32px;
    padding: 15px;
    margin: unset;
    gap: 10px;
  }
  .diagnostics .diagnostics__left {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .diagnostics .diagnostics__block {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: unset;
  }
  .diagnostics .diagnostics__button::after {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    content: "";
    background-image: url(../images/hero/arrow-icon.svg);
    background-size: 126px 126px;
    height: 126px;
    width: 126px;
    position: relative;
    top: 46px;
  }

  .diagnostics .diagnostics__title {
    line-height: 74px;
    margin-bottom: 25px;
    width: 40%;
  }

  .diagnostics .diagnostics__title.desktop {
    display: block;
  }

  .diagnostics .diagnostics__title.mobile {
    display: none;
  }

  .diagnostics .diagnostics__left {
    padding-left: 53px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .diagnostics .diagnostics__right {
    max-width: 632px;
    border-radius: 24px;
  }

  .diagnostics .diagnostics__button {
    margin-bottom: 15px;
  }

  .diagnostics .diagnostics__subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 1920px),
  (min-width: 1440px) and (min-resolution: 2dppx),
  (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .diagnostics .diagnostics__right {
    max-width: 699px;
  }

  .diagnostics .diagnostics__button {
    margin-bottom: 70px;
    margin-top: 0;
  }

  .diagnostics .diagnostics__block {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
}
