.diagnostics {
  .diagnostics__right {
    max-width: 699px;
  }
  .diagnostics__block {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-end;
    background-color: #383835;
    border-radius: 32px;
  }
  .diagnostics__subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    /* margin-bottom: 40px; */
  }

  .diagnostics__title {
    margin-bottom: 25px;
    line-height: 74px;
  }

  .diagnostics__button {
    margin-bottom: 75px;
  }

  .diagnostics__button::after {
    display: inline-flex;
    content: "";
    background-image: url(../images/hero/arrow-icon.svg);
    background-size: 126px 126px;
    height: 126px;
    width: 126px;
    position: relative;
    top: 46px;
  }

  .diagnostics__left {
    padding-left: 60px;
  }

  @media (min-width: 1440px) {
    .diagnostics__right {
      max-width: 632px;
    }
    .diagnostics__button {
      margin-bottom: 15px;
    }
    .diagnostics__subtitle {
      font-size: 24px;
    }
    .diagnostics__block {
      align-items: center;
    }
  }
  @media (min-width: 1920px) {
    .diagnostics__right {
      max-width: 699px;
    }
    .diagnostics__button {
      margin-bottom: 75px;
    }
    .diagnostics__subtitle {
      font-size: 20px;
    }
    .diagnostics__block {
      align-items: unset;
    }
  }
}
