.footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__block {
    text-align: left;
    gap: 20px;
  }
}

/* Новые */

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.footer__links {
  width: 35%;
}

.footer__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__menu-left__item,
.footer__menu-middle__item,
.footer__menu-right__item {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}

.footer__menu-left__list,
.footer__menu-middle__list,
.footer__menu-right__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__links-item {
  width: 48px;
  height: 48px;
  background-color: #383d38;
  border-radius: 50%;
  padding: 10px;
}

.footer__links-list {
  display: flex;
  gap: 5px;
  margin-top: 30px;
}
