.footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__block {
    text-align: left;
    gap: 20px;
  }
}

/* Новые */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__menu {
  margin-top: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}

.footer__subtitle {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 10px;
  opacity: 90%;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 23px;
}

.footer__menu-left__item,
.footer__menu-middle__item,
.footer__menu-right__item {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.footer__menu-left__list,
.footer__menu-middle__list,
.footer__menu-right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.footer__links-item {
  width: 48px;
  height: 48px;
  background-color: #383d38;
  border-radius: 50%;
  padding: 10px;
}

.footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 25px;
}

.footer-section {
  padding-top: 0 !important;
  margin-top: 20px;
  padding-bottom: 50px !important;
}

@media (min-width: 1440px) {
  .footer__menu-left__list,
  .footer__menu-middle__list,
  .footer__menu-right__list {
    gap: 20px;
  }

  .footer__menu-left__item,
  .footer__menu-middle__item,
  .footer__menu-right__item {
    font-size: 18px;
  }

  .footer__menu-title {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .footer__links {
    width: 35%;
  }

  .footer__subtitle {
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
  }

  .footer-section {
    margin-top: 80px;
    padding-bottom: 70px !important;
  }

  .footer__block {
    padding-top: 61px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer__links-list {
    gap: 8px;
    margin-top: 35px;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66%;
    gap: 135px;
    margin-top: 0;
  }
}

@media (min-width: 1920px) {
  .footer-section {
    margin-top: 100px;
    padding-bottom: 70px !important;
  }

  .footer__block {
    padding-top: 65px;
  }

  .footer__links-list {
    gap: 10px;
  }

  .footer__menu {
    width: 57%;
    gap: 175px;
  }
}
