.section.help {
  padding-bottom: 40px;
  padding-top: 60px;
}

.help__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 0;
  height: inherit;
  color: #000000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.help__title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.help__item:first-child .help__item-icon {
  width: 32px;
  height: 32px;
}

.help__item:nth-child(2) .help__item-icon {
  width: 32px;
  height: 32px;
}

.help__item:nth-child(3) .help__item-icon {
  width: 24px;
  height: 24px;
}

.help__list {
  width: 100%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  row-gap: 15px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  display: -ms-grid;
  display: grid;
}

.help__item {
  padding: 25px;
  background: #f9f5e8;
  border-radius: 32px;
}

.help__item-icon-container {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.help__item-title {
  margin-bottom: 15px;
  line-height: 32px !important;
}

.help__item-title.desktop {
  display: none;
}

@media (min-width: 1440px) {
  .help__item-title.desktop {
    display: block;
  }
  .help__item-title.mobile {
    display: none;
  }
  .help__item:first-child .help__item-icon {
    width: 40px;
    height: 40px;
  }

  .help__item:nth-child(2) .help__item-icon {
    width: 48px;
    height: 48px;
  }

  .help__item:nth-child(3) .help__item-icon {
    width: 36px;
    height: 36px;
  }

  .help__item-title {
    margin-bottom: 25px;
    line-height: 37.5px !important;
  }

  .section.help {
    padding-top: 75px;
  }

  .help__block {
    padding: 70px 0 30px;
  }

  .help__list {
    row-gap: 48px;
    -webkit-column-gap: 23px;
    -moz-column-gap: 23px;
    column-gap: 23px;
    -ms-grid-columns: 1fr 23px 1fr 23px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .help__item {
    padding: 35px 38px;
  }

  .help__item-icon-container {
    margin-bottom: 25px;
    width: 68px;
    height: 68px;
  }

  .help__item-text {
    width: 90%;
    line-height: 32px !important;
  }
}

@media (min-width: 1920px),
  (min-width: 1440px) and (min-resolution: 2dppx),
  (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .section.help {
    padding-bottom: 15px;
    padding-top: 100px;
  }
  .help__item {
    padding: 35px 30px;
  }

  .help__block {
    padding: 95px 0 110px;
  }
  .help__list {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
