.section.help {
  padding-bottom: 50px;
}

.help__block {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 70px;
  height: inherit;
  color: #000000;
  align-items: center;
}

.help__title {
  align-self: center;
}

.help__item:first-child {
  .help__item-icon {
    width: 40px;
    height: 40px;
  }
}

.help__item:nth-child(2) {
  .help__item-icon {
    width: 48px;
    height: 48px;
  }
}

.help__item:nth-child(3) {
  .help__item-icon {
    width: 36px;
    height: 36px;
  }
}

.help__list {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
  column-gap: 50px;
  display: grid;
}

.help__item {
  padding: 35px;
  background: #f9f5e8;
  border-radius: 32px;
}

.help__item-icon-container {
  width: 68px;
  height: 68px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.help__item-title {
  margin-bottom: 25px;
}

@media (min-width: 1440px) {
  .help__block {
    padding: 70px 0 70px;
  }
  .help__list {
    column-gap: 23px;
  }
  .help__item {
    padding: 35px 25px;
  }
  .help__item-icon-container {
    margin-bottom: 25px;
  }
  .help__item-text {
    width: 90%;
    line-height: 32px;
  }
  .section.help {
    padding-bottom: 15px;
  }
}
