.dark-bg-section.hero-section {
  background-color: #1b1b1c;
}

.hero-section {
  height: 1064px;
}

@media (min-width: 1440px) {
  .hero-section {
    height: 960px;
  }
}

@media (min-width: 1920px) {
  .hero-section {
    height: 1064px;
  }
}

.hero {
  color: #ffffff;
  background: 81% 100% / 42% no-repeat url(../images/hero/hero-pic.webp);
  height: 100%;
  display: flex;
  flex-direction: column;

  .hero__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 160px 0 120px;
    height: inherit;
  }

  @media (min-width: 1440px) {
    .hero__block {
      padding: 135px 0 117px;
    }
  }

  @media (min-width: 1920px) {
    .hero__block {
    }
  }

  .hero__container {
    height: inherit;
  }

  .hero__top-title {
    margin-bottom: 20px;
    color: #ffffff;
  }

  .hero__top-button {
    margin-top: -5px;
  }

  .hero__top-button::after {
    display: inline-flex;
    content: "";
    background-image: url("../images/hero/arrow-icon.svg");
    background-size: 126px 126px;
    height: 126px;
    width: 126px;
    position: relative;
    top: 46px;
  }

  .hero__bottom-left {
    width: 48px;
    height: 48px;
  }

  .hero__bottom {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 24px;
    opacity: 90%;
  }

  .hero__bottom-label {
    margin-bottom: 5px;
  }

  .hero__top-text {
    font-size: 24px;
    line-height: 32px;
    opacity: 90%;
    /* letter-spacing: -1px; */
  }

  .hero__bottom-right {
    padding-top: 15px;
    /* letter-spacing: -1px; */
  }

  @media (min-width: 1440px) {
    .hero__top-title {
      margin-bottom: 30px;
    }
    .hero {
      background: 92% 100% / 51% no-repeat url(../images/hero/hero-pic.webp);
    }
  }
}
