.dark-bg-section.hero-section {
  background-color: #1b1b1c;
}

.hero-section {
  height: 836px;
}

@media (min-width: 1440px) {
  .hero-section {
    height: 960px;
  }
}

@media (min-width: 1920px) {
  .hero-section {
    height: 1064px;
  }
}

.hero {
  color: #ffffff;
  background: -13px 19%/100% no-repeat url(../images/hero/hero-pic.webp);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero .hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 160px 0 47px;
  height: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(55%, #22221f),
    to(transparent)
  );
  background: -o-linear-gradient(bottom, #22221f 55%, transparent);
  background: linear-gradient(to top, #22221f 55%, transparent);
}

.hero .hero__top-button {
  margin-top: 35px;
}

@media (min-width: 1440px) {
  .hero .hero__block {
    padding: 135px 0 117px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: unset;
  }
}

@media (min-width: 1920px) {
  .hero .hero__block {
    padding: 160px 0 120px;
  }

  .hero .hero__top-button {
    margin-top: -5px;
  }
}

.hero .hero__container {
  height: inherit;
  width: 100%;
}

.hero .hero__top-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.hero .hero__bottom-left {
  width: 48px;
  height: 48px;
}

.hero .hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  opacity: 90%;
  margin-top: 25px;
}

.hero .hero__bottom-label {
  margin-bottom: 5px;
}

.hero .hero__top-text {
  font-size: 18px;
  line-height: 26px;
  opacity: 90%;
  width: 84%;
  margin: 0 auto;
  /* letter-spacing: -1px; */
}

.hero .hero__top {
  text-align: center;
}

@media (min-width: 1440px) {
  .hero .hero__bottom-right {
    padding-top: 15px;
    /* letter-spacing: -1px; */
  }

  .hero .hero__container {
    width: 97%;
  }

  .hero .hero__bottom {
    font-size: 24px;
    margin-top: 0;
  }

  .hero .hero__top-title {
    margin-bottom: 30px;
  }

  .hero .hero {
    background: 92% 100%/51% no-repeat url(../images/hero/hero-pic.webp);
  }

  .hero .hero__top-text {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }

  .hero .hero__top {
    text-align: left;
  }

  .hero .hero__top-button::after {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    content: "";
    background-image: url("../images/hero/arrow-icon.svg");
    background-size: 126px 126px;
    height: 126px;
    width: 126px;
    position: relative;
    top: 46px;
  }

  .hero .hero__top-button {
    margin-top: 0px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background: 81% 100%/42% no-repeat url(../images/hero/hero-pic.webp);
  }
}
