.include {
  padding: 100px 0;
}

.include .include__item-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 17px;
  background-color: var(--lightBgColor);
  border-radius: 8px;
  padding: 12px;
}

.include .include__title {
  margin-bottom: 22px;
  text-align: center;
}

.include .include__item {
  background-color: #fff;
  padding: 22px;
  border-radius: 24px;
}

.include .include__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 18px;
}

.include .include__item-title {
  margin-bottom: 15px;
}

.include .include__item-text {
  font-weight: 16px;
  line-height: 26px;
}

@media (min-width: 1440px) {
  .include .include__item-text {
    font-weight: 20px;
    line-height: 28px;
  }

  .include .include__item-title {
    margin-bottom: 15px;
  }

  .include .include__title {
    margin-bottom: 70px;
    text-align: left;
  }

  .include .include__item {
    padding: 22px 24px;
  }

  .include .include__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1920px) {
  .include .include__title {
    margin-bottom: 92px;
  }

  .include .include__item {
    padding: 22px 16px;
  }
}

.section.include {
  padding: 40px 0;
}

@media (min-width: 1440px) {
  .section.include {
    padding: 80px 0;
  }
}

@media (min-width: 1920px) {
  .section.include {
    padding: 120px 0;
  }
}
