.programme .programme-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 22px;
}

.programme .programme__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.programme .programme-info__pic {
  display: none;
}

.programme-info__label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.programme .programme-info__extra {
  width: 96%;
  margin-top: -5px;
  line-height: 26px;
}

.programme .programme__block-left {
  width: 100%;
}

.programme .programme__accordion-item {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
}

.programme .programme__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.programme .programme__title {
  margin-bottom: 16px;
}

.programme .programme-info__label {
  margin-bottom: 1px;
}

.programme .accordion__title {
  font-size: 20px;
  line-height: 26px;
}

.programme .accordion__answer-list {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.programme .programme-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  gap: 45px;
  padding-bottom: 15px;
}

@media (min-width: 1440px) {
  .programme-info__label {
    font-size: 24px;
    line-height: 32px;
  }
  .programme .accordion__answer-list {
    margin-top: 30px;
  }

  .programme .programme__accordion-item {
    padding: 25px 20px;
  }

  .programme .accordion__title {
    font-size: 24px;
    line-height: 28px;
  }

  .programme .programme__block-right {
    width: 68%;
  }

  .programme .programme-info {
    gap: 33px;
  }

  .programme .programme-info__label {
    margin-bottom: 3px;
  }

  .programme .programme-info__container {
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }

  .programme .programme__block-left {
    width: 32%;
  }

  .programme .programme-info__time {
    margin-bottom: 25px;
  }

  .programme .programme__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 40px;
  }

  .programme .programme__title {
    margin-bottom: 30px;
  }

  .programme .programme-info__extra {
    width: 100%;
    line-height: 32px;
  }

  .programme .programme-info__pic {
    display: block;
    width: 355px;
    margin-top: 48px;
  }
}

@media (min-width: 1920px) {
  .programme .programme-info__time {
    margin-bottom: 20px;
  }
  .programme .programme-info {
    gap: 27px;
  }
  .programme .standard-text-16 {
    font-size: 24px;
    line-height: 32px;
  }
  .programme .programme__title {
    margin-bottom: 35px;
  }

  .programme .programme-info__extra {
    width: 70%;
  }

  .programme .programme-info__pic {
    width: 538px;
    margin-top: 25px;
    position: relative;
    left: -14%;
  }
}
