.programme {
  .programme-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .programme__block {
    display: flex;
    gap: 40px;
  }

  .programme-info__pic {
    width: 538px;
    margin-top: 40px;
    position: relative;
    left: -10%;
  }

  .programme-info__data {
    font-size: 24px;
  }
  .programme-info__extra {
    font-size: 24px;
  }

  .programme__block-left {
    width: 35%;
  }

  .programme__block-right {
    width: 65%;
  }
  .programme__accordion-item {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 24px;
  }

  .programme__accordion {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
