.questions .questions__accordion-item {
  background-color: #383835;
  border-radius: 24px;
  padding: 23px 24px;
}

.questions .questions__title {
  margin-bottom: 32px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.questions .questions__list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.questions .questions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.questions .accordion__answer {
  font-size: 20px;
  opacity: 90%;
}

.questions .accordion__answer-container {
  width: 95%;
  line-height: 28px;
}

.questions .accordion__answer__block {
  padding-top: 30px;
}

.questions .accordion__answer__block.standard-text-16 {
  color: rgba(255, 255, 255, 0.9);
}

.questions .accordion__title {
  font-size: 20px;
  line-height: 26px;
}

@media (min-width: 1440px) {
  .questions .questions__list {
    width: 80%;
    gap: 15px;
  }

  .questions .questions__title {
    margin-bottom: 70px;
  }

  .questions .questions__accordion-item {
    padding: 20px 24px;
  }
}

@media (min-width: 1920px) {
  .questions .questions__list {
    width: 67%;
  }

  .questions .questions__title {
    margin-bottom: 90px;
  }
}
