.teachers .teachers__item,
.teachers .teachers__item-hover {
  border-radius: 24px;
  overflow: hidden;
  height: 418px;
  width: 270px;
  max-height: 418px;
  max-width: 270px;
  min-height: 418px;
  min-width: 270px;
}

.teachers .teachers__header {
  text-align: center;
}

.teachers .teachers__item-no-hover {
  /* visibility: visible;*/
  opacity: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
  width: inherit;
  padding: 12px;
  /* transition: opacity 0.4s; */
  overflow: hidden;
  border-radius: 24px;
}

.teachers .teachers__item-hover {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: absolute;
  /* visibility: hidden; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 24px;
}

.teachers .teachers__item-hover__name,
.teachers .teachers__item-hover__fulldesc {
  display: none;
}

.teachers .teachers__title {
  margin-bottom: 10px;
}

.teachers .teachers__list {
  width: 100vw;
}

.teachers .teachers__subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2px;
}

.teachers .teachers__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.teachers .teachers__subtitle {
  font-weight: 400;
}

.teachers .teachers__item-info {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  padding: 15px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.teachers .teachers__item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 50%;
}

.teachers .teachers__item-desc {
  display: none;
}

.teachers .teachers__header-buttons {
  display: none !important;
}

.teachers .teachers__item-hover__name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 22px;
}

.teachers .teachers__item-info-btn button {
  background: url(../images/cases/slider-arrow-icon-dark.svg) center center
      no-repeat,
    var(--lightBgColor);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  outline: none;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  stroke: #22221f;
  color: #22221f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width: 1440px) {
  .teachers .teachers__item-info-btn {
    display: none;
  }

  .teachers .teachers__item-info {
    display: block;
  }

  .teachers .teachers__item-no-hover {
    padding: 12px 15px;
  }

  .teachers .teachers__item:hover .teachers__item-no-hover {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0;
    position: absolute;
    /* visibility: hidden; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 24px;
  }

  .teachers .teachers__item:hover .teachers__item-hover {
    opacity: 100%;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* visibility: visible; */
    display: block;
    height: inherit;
    width: inherit;
    padding: 12px 15px;
    overflow: hidden;
    border-radius: 24px;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    padding: 32px 30px;
  }

  .teachers .teachers__item:hover .teachers__item-hover__name,
  .teachers .teachers__item:hover .teachers__item-hover__fulldesc {
    display: block;
  }

  .teachers .teachers__item-name {
    margin-bottom: 13px;
    font-size: 24px;
    width: 100%;
  }

  .teachers .teachers__item-desc {
    display: block;
    font-size: 18px;
    opacity: 90%;
  }

  .teachers .teachers__item,
  .teachers .teachers__item-hover {
    display: block;
    height: 560px;
    width: 362px;
    max-height: 560px;
    max-width: 362px;
    min-height: 560px;
    min-width: 362px;
  }

  .teachers .teachers__title {
    margin-bottom: 0;
  }

  .teachers .teachers__subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .teachers .teachers__header-buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .teachers .teachers__header {
    text-align: left;
  }
}

.section.teachers {
  padding: 42px 0;
  gap: 33px;
}

@media (min-width: 1440px) {
  .section.teachers {
    padding: 80px 0;
    gap: 10px;
  }
}

@media (min-width: 1920px) {
  .section.teachers {
    padding: 115px 0;
    gap: 33px;
  }
}
